@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);

  --fs: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
}

.card {
  --b-radius: 18px;
  --b-radius-inner: 10px;
  background-color: var(--White);
  max-width: 385px;
  padding-inline: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-radius: var(--b-radius);
  border: 2px solid var(--Black);
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 1);
  /* overflow: hidden; */
}

.card__illustration-img img {
  border-radius: var(--b-radius-inner);
}

.card .card__article-tag {
  margin-top: 1em;
  background-color: var(--yellow);
  border-radius: 6px;
  max-width: fit-content;
  padding-inline: 12px;
  padding-block: 8px;
}

.card__date {
  font-size: 1em;
  margin-top: 1em;
}

.card .card__article-title {
  width: max-content;
  margin-top: 1em;
  font-size: 0.75em;
  transition: all ease-in 100ms;
  cursor: pointer;
}

.card__article-title:hover {
  color: var(--yellow);
}

.card__article-text {
  margin-top: 1em;
  line-height: 22px;
  color: var(--Grey);
  font-weight: 500;
}

.card__article-author {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
}

.card__article-avatar-img img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 425px) {
  .card {
    max-width: 320px;
    box-shadow: 9px 9px 0px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 9px 9px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 9px 9px 0px 0px rgba(0, 0, 0, 1);
  }

  .card__article-text {
    font-size: 0.75em;
  }

  .card__article-title h1 {
    font-size: 1.75em;
  }

  .card__article-tag {
    font-size: 0.65em;
  }

  .card__date {
    font-size: 0.75em;
  }

  .card__illustration-img img {
    border-radius: 10px;
    width: 270px;
  }
}
